@import "tailwindcss";

*{
  box-sizing: border-box ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
/*Header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding: 8px;
  width:90px;
  border-radius: 50%;
}

.nav ul{
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
}

.nav li{
  list-style: none;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Body */
.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  margin-bottom: -10px;
}

.search-bar input{
  width: 300px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #838383;
  padding: 10px ;
}

.search-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  margin-left: -30px;
  background-color: white;
  border: none;
}
.search-logo:hover{
  cursor: pointer;
}

.search-input{
  width: 250px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #838383;
  padding: 10px ;
}

.search-input::placeholder{
  padding-left: 5px;
}

.search-input:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}
.search-logo img{
  width: 70%;
}
.res-card{
  border-radius: 15px;
  margin: 30px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(219, 218, 218);
}
.res-card:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 0px solid #b6b6b6;
}

.search{
  padding: 10px;
}

.res-logo{
  height: 55%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-name {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0px;
}

.res-cuisines {
  font-size: 15px;
  padding: 5px 0px;
}

.res-rate-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.res-rate {
  font-size: 15px;
  padding: 5px 0px;
  font-weight: 600;
}

.res-sla-dt {
  font-weight: 600;
  font-size: 15px;
  padding: 5px 0px;
}